body {
  height: unset;
	padding: 0;
	margin: 0;
	padding: 0;
}

.basic-card {
  width: 280px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	height: 444px;
	overflow: auto;
}

.card {
  width: 100%;
  background-color: #f1f4f9;
  border-radius: 4px;
	position: relative;

	.progress {
		position: absolute;
		bottom: -5px;
		left: 0;
	}

  .title {
    display: flex;
    align-items: center;
    padding-left: 20px;
		padding: 12px;
		border-bottom: 1px solid #ccc;
    &::before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
			margin-right: 5px;
			background: skyblue;
    }
  }

	.code {
		font-size: 28px;
		font-weight: 600;
		color: blue;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding: 20px 0;
		padding-bottom: 25px;
	}
}


.token {
	font-size: 28px;
	margin-bottom: 12px;
}